/AppWebCorrida/nbproject/private/
/AppWebCorrida/build/
/AppWebEJB/nbproject/private/
/AppWebEJB/build/
/AppFilmes/nbproject/private/
/AppFilmes/dist/
/AppFilmes/build/
/AppFilmesSOAPClient/nbproject/private/
/AppFilmesSOAPClient/build/
/AppFilmesSOAPClient/dist/
/JAXRS-Test/nbproject/private/
/JAXRS-Test/build/
/JAXRS-Test/dist/
/biblioteca-livro-jdbc/target/
/biblioteca-livro-dao/target/
/biblioteca-livro-jpa/target/
/biblioteca-livro-ejb/target/
/biblioteca-jpa/target/
/Exercicio-2/biblioteca-livro-jdbc/target/
/Exercicio-4/biblioteca-livro-jpa/target/
/Exercicio-4/solucao/biblioteca-livro-jpa/target/
/Exercicio-5/biblioteca-livro-ejb/target/
/Exercicio-6/biblioteca-jpa/target/
/Exercicio-6/solucao/biblioteca-jpa/target/
/New Folder With Items/Exercicio-2/solucao/biblioteca-livro-jdbc/target/
/New Folder With Items/Exercicio-3/solucao/biblioteca-livro-dao/target/
/New Folder With Items/Exercicio-4/solucao/biblioteca-livro-jpa/target/
/New Folder With Items/Exercicio-5/biblioteca-livro-ejb/target/
/New Folder With Items/Exercicio-6/solucao/biblioteca-jpa/target/
/Exercicios-JavaEE-7/Exercicio-2/solucao/biblioteca-livro-jdbc/target/
/Exercicios-JavaEE-7/Exercicio-3/solucao/biblioteca-livro-dao/target/
/Exercicios-JavaEE-7/Exercicio-4/solucao/biblioteca-livro-jpa/target/
/Exercicios-JavaEE-7/Exercicio-5/biblioteca-livro-ejb/target/
/Exercicios-JavaEE-7/Exercicio-6/solucao/biblioteca-jpa/target/
/Exercicios-JavaEE-7/Exercicio-5/solucao/biblioteca-livro-ejb/target/
/Exercicios-JavaEE-7-TODO/Exercicio-6/solucao/biblioteca-jpa/target/
/Exercicios-JavaEE-7/Exercicio-4-JPA/solucao/biblioteca-livro-jpa/target/
/Exercicios-JavaEE-7/Exercicio-3-DAO/projeto-parcial/biblioteca-livro-dao/target/
/Exercicios-JavaEE-7/Exercicio-6-Relacionamentos-JPA/solucao/biblioteca-jpa/target/
/Exercicios-JavaEE-7/Exercicio-7-Singleton EJB/solucao/biblioteca-ejb/target/
/Exercicios-JavaEE-7/Exercicio-7-Singleton EJB/projeto-inicial/biblioteca-ejb/target/
/Exercicios-JavaEE-7/Exercicio-7-Singleton-EJB-JSF/projeto-inicial/biblioteca-ejb/target/
/Exercicios-JavaEE-7/Exercicio-7-Singleton-EJB-JSF/solucao/biblioteca-ejb/target/
/Exercicios-JavaEE-7/Exercicio-8-Herança-JPA/solucao/biblioteca-heranca-jpa/target/
/Exercicios-JavaEE-7/Exercicio-9-Queries-JPA/solucao/biblioteca-query-jpa/target/