/AppWebCorrida/nbproject/private/
/AppWebCorrida/build/
/AppWebEJB/nbproject/private/
/AppWebEJB/build/
/AppFilmes/nbproject/private/
/AppFilmes/dist/
/AppFilmes/build/
/AppFilmesSOAPClient/nbproject/private/
/AppFilmesSOAPClient/build/
/AppFilmesSOAPClient/dist/